extends layout

block content
  div.container
    div.content
      div.page-header
      div.row
        div.span10
          img(src=user.image)
          p Welcome #{user.displayname}!!
          
        div.span4
        
    div.footer
