extends layout

block content
  div.container
    div.content
      div.page-header
      div.row
        div.span10
          a.btn.btn-large.btn-success(href="auth/twitter") Sign up with Twitter
        div.span4
        
    div.footer
